/* Estilos para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Alinhe os elementos verticalmente */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center; /* Alinhe o texto ao centro */
}

/* Estilos para o título principal */
h1 {
  color: #333;
  font-size: 24px; /* Ajuste o tamanho do título principal conforme necessário */
  margin-top: 20px;
}

/* Estilos para o subtítulo "Favoritos" */
h2 {
  font-size: 35px; /* Ajuste o tamanho do subtítulo conforme necessário */
  color: #000000;
}

/* Estilos para o conteúdo de texto */
p {
  font-size: 18px;
  margin: 20px 0;
  color: #111;
  color: #000000;
}

/* Estilos para a imagem */
img {
  width: 300px; /* Defina o valor desejado para a largura */
  display: block;
  margin: 0 auto;
  height: 200px; /* Manter a proporção original da imagem */
}

/* Estilos para o botão 3D */
.button-3d {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffa12b; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.2s;
  position: relative;
  margin: 30px;
  text-align: center;
}

/* Estilos para a lista de favoritos */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #000000;
}
